$color1: #ffffff;
$color2: #000000;
$box: 1px 1px 20px black;

@mixin display{
  display: flex;
  justify-content: center;
  align-items: center;
}


*{
  font-family: 'lora';
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

section{
  @include display();
  flex-direction: column;
}

#inicio{
  .navbar{
    background-color: $color1;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $box;
  
    .one{
      display: none;
      padding: 0px;
      border-bottom: $box;
    }

    .navbar-collapse{
      justify-content: space-between;

      .two{
        padding: 0px;
        border-bottom: 1px solid #000000;
      }
    
      ul{
        a{
          padding: 0px;
          margin-left: 10px;
        }
        
        a:hover{
          color: gray;
          border-bottom: 1px solid #000000;
        }
      }
    }
  
  }
  

}

.hero{
  background-color: $color1;
  max-width: 800px;
  min-height: 350px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: $box;

  &-principal{
    padding: 20px;

    &-img{
      width: 180px;
      height: 180px;
      margin: 10px;
      border-radius: 50%;
    }

    h1{
      font-size: 24px;
    }

    h2{
      font-size: 16px;
    }
  }

  &-footer{
    img{
      width: 250px;
      margin: 10px;

    }
  }
}

#sobreMi{
  color: $color1;
  background-color: $color2;
  height: 500px;
  padding: 10px;

  .contenedor{
    max-width: 700px;
    text-align: center;

    h2{
      font-size: 30px;
    }

    p{
      font-size: 20px;
    }
  }

  .contenedor2{
    @include display();
    justify-content: space-between;
    width: 700px;
    margin-top: 50px;

    button{
      color: $color2;
      background-color: $color1;
    }
  }
}

#experiencia{
  color: $color2;
  background-color: $color1;
  padding: 40px 40px 60px 40px;

  h2{
    font-size: 40px;
  }

  .container{
    .row{


      .columna{
        padding: 20px;
        border: 1px solid #00000037;
        transition: all 0.3s ease-in;

        h2{
          font-weight: bold;
          font-size: 25px;
          margin: 10px 0px;
        }

        p{
          font-size: 18px;
        }

        .badges-contenedor{
          font-weight: bold;
          font-size: 20px;
          margin: 10px 0px;
          
          .badge{
            margin: 5px;
          }
        }
      }

      .columna:hover{
        color: $color1;
        background-color: $color2;
      }
    }
  }
}

#proyectos{
  color: #000000;
  background-color: #ffffff;
  padding: 40px;

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 20px;
  }

  .container{
    padding-top: 40px;
    margin-bottom: 40px;

    .row{
      .columna{
        .proyecto{
          position: relative;

          img{
            display: block;
            height: 100%;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            transition: all 0.2s ease;
          }

          .overlay{
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0,2s ease;
            
            p{
              font-weight: bold;
              font-size: 25px;
              margin-bottom: 0px;
            }

            .icono{

              a{
                
                i{
                  color: $color2;
                  font-size: 30px;
                  margin: 10px;
                }
              }
            }
          }
        }

        .proyecto:hover .overlay{
          opacity: 1;
        }

        .proyecto:hover img{
          opacity: 0.2;
          ;
        }
      }
    }

   button:hover{
    background-color: rgba(0, 0, 255, 0.535);
   }
  }
}

#contactos{
  background-color: #000000;
  margin-top: 40px;

  .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

    .container{
      display: flex;
      justify-content: space-evenly;
      background-color: #00ffff;
      margin-top: -60px;
      border-radius: 10px;
      box-shadow: 0px 1px 4px 1px $color1;

      .row{
        @include display();
        width: 100%;;  

        col{
          color: $color1;
          font-size: 30px;
        }

        button{
          color: $color1;
          background-color: transparent;
          font-weight: bold;
          padding: 10px 20px;
          margin: 10px;
          border: 2px solid $color1;
          border-radius: 100px;
          transition: all 0.3s ease-in-out;
        }

        button:hover{
          color: $color2;
          background-color: $color1;
        }
      }
    }
  }
}

#oscuro{
  @include display();
  flex-direction: column;
  color: $color1;
  background-color: $color2;
  min-height: 200px;

  img{
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  p{
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
  }

  .redes{
    @include display();
    flex-wrap: wrap;

    a{
      @include display();
      width: 50px;
      height: 50px;
      padding: 10px;
      margin: 10px;
      border: 1px solid $color1;
      border-radius: 50%;
      transition: all 0.3s ease-in;
  
      i{
        color: $color1;
        font-size: 20px;
        transition: all 0.3s ease-in;
      }
    }
  
    a:hover{
      background-color: $color1;
      border: 1px solid aqua;
    }
  
    a:hover i{
      color: $color2;
    }
  }
}

@media (max-width: 767px) {
  #inicio{

    .navbar{

      .one{
        display: block;
      }

      .navbar-collapse{

        .two{
          display: none;
        }

        ul{

          li{
            text-align: center;

            a:hover{
              color: gray;
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .contenedor2{
    flex-direction: column;

    button{
      margin-top: 10px;
    }
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss"